
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>
        Welcome to blog!
    </h3>
    <a asp-controller="Post" asp-action="Index" class="btn btn-success">
        All posts
    </a>
</div>